@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
      @apply  bg-[#222222];
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
 
}
